<% content_for :body do %>

  <%= form_tag user_location_report_post_path do %>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <select class="form-control" id="car_id" name="car_id">
            <% @cars.each do |car| %>
              <option value="<%= car.id %>"><%= [car.number, car.username].join("-") %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <div class="input-group date">
            <input type='text' class="form-control" name="picker_start" id="picker_start"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class="form-group">
          <div class="input-group date">
            <input type='text' class="form-control" name="picker_finish" id="picker_finish"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class="form-group">
          <div class='input-group'>
            <input type='submit' class="btn btn-primary" value="Отправить"/>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag 'application', 'bootstrap-datepicker/bootstrap-datepicker' %>
  <%= javascript_include_tag 'application', 'bootstrap-datepicker/locales/bootstrap-datepicker.ru.min' %>
<% end %>