<% content_for :body do %>

  <%= form_tag user_location_report_post_path do %>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <select class="form-control" id="car_id" name="car_id">
            <% @cars.each do |car| %>
              <option value="<%= car.id %>"><%= [car.number, car.username].join("-") %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <div class="input-group date">
            <input type='text' class="form-control" name="picker_start" id="picker_start"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class="form-group">
          <div class="input-group date">
            <input type='text' class="form-control" name="picker_finish" id="picker_finish"/>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class='col-sm-3'>
        <div class="form-group">
          <div class='input-group'>
            <input type='submit' class="btn btn-primary" value="Отправить"/>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <hr>
  <p>Водитель: <%= @driver.username %></p>
  <p>Дата начало: <%= @start %></p>
  <p>Дата финиш: <%= @finish %></p>
  <p id="meter">Метер:</p>
  <hr>

  <div id="map" style="width:100%;height:500px;"></div>
<% end %>

<% content_for :footer do %>
  <script type="application/javascript">
      function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
          var R = 6371000;
          var dLat = deg2rad(lat2-lat1);
          var dLon = deg2rad(lon2-lon1);
          var a =
              Math.sin(dLat/2) * Math.sin(dLat/2) +
              Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
              Math.sin(dLon/2) * Math.sin(dLon/2)
          ;
          var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
          return R * c;
      }

      function deg2rad(deg) {
          return deg * (Math.PI/180)
      }
      function initMap() {
          var carsCoordinates = [];
          var lat;
          var lng;
          var countSum = 0;
          var bounds = new google.maps.LatLngBounds();


          <% @locations.each do |location| %>
            carsCoordinates.push({lat: <%= location.lat %>,lng: <%= location.lng %>});
            if (typeof lat !== 'undefined')
            {
                countSum += getDistanceFromLatLonInKm(lat, lng, <%= location.lat %>, <%= location.lng %>);
            }
            lat = <%= location.lat %>;
            lng = <%= location.lng %>;

          <% end %>
          $("#meter").text("Метер: " + countSum.toFixed(2) + "м.");
          console.log(countSum);
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 14,
              center: {lat: 42.843718, lng: 74.576779},
              mapTypeId: 'terrain'
          });
          var infowindow = new google.maps.InfoWindow();

          var flightPath = new google.maps.Polyline({
              path: carsCoordinates,
              geodesic: true,
              strokeColor: '#FF0000',
              strokeOpacity: 1.0,
              strokeWeight: 2
          });

          var startMarker = new google.maps.Marker({
              position: flightPath.getPath().getAt(0),
              map:map,
              icon: "/icons/plowtruck.png"
          });
          var endMarker =  new google.maps.Marker({
              position: flightPath.getPath().getAt(flightPath.getPath().getLength()-1),
              map:map,
              icon: "/icons/plowtruck.png"
          });

          google.maps.event.addListener(startMarker, 'click', (function(startMarker) {
              return function() {
                  infowindow.setContent("<h1>" + 'Старт' + "</h1>");
                  infowindow.open(map, startMarker);
              }
          })(startMarker));

          google.maps.event.addListener(endMarker, 'click', (function(endMarker) {
              return function() {
                  infowindow.setContent("<h1>" + 'Финиш' + "</h1>");
                  infowindow.open(map, endMarker);
              }
          })(endMarker));

          startMarker.setMap(map);
          endMarker.setMap(map);

          flightPath.setMap(map);
          if(carsCoordinates.length > 2)
          {
              bounds.extend(startMarker.position);
              bounds.extend(endMarker.position);
              map.fitBounds(bounds);
          }
      }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOgqhNZ6wm4erDsuykUx48_WSJq38urgM&callback=initMap"></script>
<% end %>