
<% content_for :body do %>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Номер</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cars.each do |car| %>
        <tr>
          <td><%= car.id %></td>
          <td><%= link_to car.username, admin_car_edit_path(car.id) %></td>
          <td><%= car.number %></td>
          <td><p><%= link_to 'Удалить', admin_car_delete_path(car.id),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %></p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>