
<% content_for :body do %>

  <h1>Обновить водитель</h1>

  <%= form_for @car, :html => {:class => 'form'}, :url => admin_car_update_path(id: @car.id), :method => :POST do |c| %>
    <div class="form-group">
      <%= c.label "Имя" %><br>
      <%= c.text_field :username, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= c.label "Номер" %><br>
      <%= c.text_field :number, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= c.submit "Обновить", class: 'btn btn-default' %>
    </div>
  <% end %>

<% end %>