<% content_for :body do %>
  <h1>Новый водитель</h1>

  <%= form_for @car, :url => admin_car_create_path, :method => :POST do |c| %>
    <div class="form-group">
      <%= c.label 'Водитель' %><br>
      <%= c.text_field :username, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= c.label 'Номер' %><br>
      <%= c.text_field :number, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= link_to 'Отменить', admin_user_path, class: 'btn btn-danger btn-link' %>
      <%= c.submit 'Создать', class: 'btn btn-default' %>
    </div>
  <% end %>

<% end %>