<% content_for :body do %>

  <div id="googleMap" style="width:100%;height:500px;"></div>
<% end %>

<% content_for :footer do %>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="application/javascript">
    if(window.google){
        myMap();
    }
    else{
        $.ajax('https://maps.googleapis.com/maps/api/js?key=AIzaSyCOgqhNZ6wm4erDsuykUx48_WSJq38urgM&callback=myMap', {
            crossDomain: true,
            dataType: 'script'
        });
    }
    function myMap() {

        var myLatLng = {lat: 42.876048, lng: 74.656599};
        var bounds = new google.maps.LatLngBounds();


        var mapProp = {
            center: myLatLng,
            zoom: 11
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        var markers = [];

        <% @cars.each do |car| %>
        var myLatLong = {lat: <%= car.latitude %> , lng: <%= car.longitude %>};

        var infowindow = new google.maps.InfoWindow();
        var myMarker = new google.maps.Marker({
            position: myLatLong,
            map: map,
            draggable:true,
            icon: "/icons/plowtruck.png",
            animation: google.maps.Animation.DROP,
            title: "<%= car.username %>"
        });
        bounds.extend(myMarker.position);
        myMarker.setMap(map);
        google.maps.event.addListener(myMarker, 'click', (function(myMarker) {
            return function() {
                infowindow.setContent("<h1>" + '<%= car.username %>' + "</h1>");
                infowindow.open(map, myMarker);
            }
        })(myMarker));
        markers.push(myMarker);
        <% end %>
        setInterval(function () {

            $.ajax({
                url: '<%= Rails.application.routes.url_helpers.root_path %>',
                method: 'get',
                success: function (data) {
                    var bounds = new google.maps.LatLngBounds();
                    $.each(data, function (key, value) {
                        var myLatLong = { lat: parseFloat(value.latitude), lng: parseFloat(value.longitude) };
                        if(typeof markers[key] === 'undefined') {

                            var myMarker = new google.maps.Marker({
                                position: myLatLong,
                                map: map,
                                draggable:true,
                                icon: "/icons/plowtruck.png",
                                animation: google.maps.Animation.DROP,
                                title: value.username
                            });
                            bounds.extend(myMarker.position);
                            myMarker.setMap(map);
                            google.maps.event.addListener(myMarker, 'click', (function(myMarker) {
                                return function() {
                                    infowindow.setContent("<h1>" + value.username + "</h1>");
                                    infowindow.open(map, myMarker);
                                }
                            })(myMarker));
                            markers.push(myMarker);
                        }
                        else{
                            markers[key].setPosition(myLatLong);
                            bounds.extend(markers[key].position);
                            map.fitBounds(bounds);
                        }
                    });
                },
                error: function () {
                    console.log('error ajax');
                }
            });

        }, 2000);

        map.fitBounds(bounds);
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
    }
    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
  </script>
<% end %>