<!DOCTYPE html>
<html>
  <head>
    <title>Howo</title>
    <%= csrf_meta_tags %>

    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= yield :head %>
  </head>

  <body>

  <div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Водители', admin_user_path %></li>
            <li><%= link_to 'Создать новый водитель', admin_car_new_path %></li>
            <li><%= link_to 'Карта', admin_google_map_path %></li>
            <li><%= link_to 'Отчет', user_location_report_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



    <div class="row">
      <div class="col-sm-12">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield(:body) %>
      </div>
    </div>
  </div>
  </body>
  <%= yield :footer %>
</html>
